<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Melee'}} ({{mod system.scores.str.mod}})
      </li>
      <li>
        {{localize 'OSE.exploration.od.long'}} ({{system.exploration.odMod}} in 6)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.SpokenLanguages'}} ({{localize system.languages.spoken}})
      </li>
      <li>
        {{localize 'OSE.Literacy'}} ({{localize system.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.saves.magic.long'}} ({{mod system.scores.wis.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Missile'}} ({{mod system.scores.dex.mod}})
      </li>
      <li>
        {{localize 'OSE.Initiative'}} ({{mod system.scores.dex.init}})
      </li>
      <li>
        {{localize 'OSE.ArmorClass'}} ({{mod system.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.Health'}} ({{mod system.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OSE.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'OSE.NPCReaction'}} ({{mod system.scores.cha.npc}})
      </li>
      <li>
        {{localize 'OSE.RetainersMax'}} ({{add system.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'OSE.Loyalty'}} ({{add system.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>